[submodule "backend"]
	path = backend
	url = https://github.com/GWeronika/FlashcardsApp-backend.git
[submodule "frontend"]
	path = frontend
	url = https://github.com/GWeronika/FlashcardsApp-frontend.git
